
*{
    margin: 0;
    border: border-box;
    font-family: Arial, Helvetica;


}

/* Logo bar */
.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;

}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 1.5px,solid,transparent;
}
.border:hover{
    border: 1.5px,solid,white;
    border-radius: 4px;
    
}

/*  Address */
.add-icon{
    display: flex;
}
.add-first{
    color: #cccccc;
    font-size: 0.80rem;
    margin-left: 25px;

}
.add-second{
    font-size: 1rem;
    margin-left: 4px;

}

/* Search Bar */
.nav-search{
    display: flex;
    width: 620px;
    height: 40px;
    background-color: #0F1111;
    /* align-items: center; */
    margin-left: 10px;
    border-radius: 4px;
    justify-content: space-evenly;
    border: 2px solid transparent;

}
/* .nav-search:hover{
    border: 2px solid rgb(53, 47, 35);              // hover in search bar
} */
.option1{
    background-color:#f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    font-size: 16px;

}

.search{
    width: 100%;
    background-color: white;
    font-size: 1.1rem;
    border: none;
    padding-left: 15px;

}
.search-icon{
    width: 45px;
      background-color: #febd68;
      
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
      border-top-right-radius: 4px ;
      border-bottom-right-radius: 4px ;
      color: #0F1111;

}
/* Flag & Lang */

.nav-f{
    display: flex;

}
.nav-flag{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f1{
       width: 15px;
    height: 15px;
}

.nav-lang{
    background-color: transparent;
    color: white;
    border: none;
    font-weight: 800;
    height: 15px;
   
}
/*  Sign in  */

.sign-con{
    font-size: 0.7rem;
}

.sign-p{
    font-size: 0.85rem;
    font-weight: 600;
}

/* Returms & Orders */

.re-con{
    font-size: 0.7rem;
}

.re-p{
    font-size: 0.85rem;
    font-weight: 300;
}

/* Card  */

.nav-cart i{
    font-size: 26px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 800;
}

/** panel  **/ 

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
     color: white;
}   
.panel-ops{
    display: inline-block;
    width: 70%;
    font-size: 0.85rem;
    font-weight: 600; 
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
     border: 1.5px,solid,transparent;

}
.panel-ops p:hover{
     border: 1.5px,solid,white;
    border-radius: 4px;
}
.panel-deals{
    font-size: 0.85rem;
    font-weight: 600;
    
}
.panel-all{
    font-weight: 700;
    font-size: 110% ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Hero Section */

.hero-section{
    background-image: url(hero_image.jpg);
    height: 300px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-weight: 600;
    width: 90%;
    margin-bottom: 0.9rem;   
}
.hero-msg a{
    color: #007185;
}

/* Shop Section */

.box{
    height: 400px;
    width: 21.8%;
    background-color: white;
    margin:20px;   
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #e2e7e6;


}
.box1-h1{
    color: black;
    font-size: 17px;
    font-weight: 600;

}

.box1-img{
    height: 305px;
    border-radius: 4%;
    margin-top: 13px;
    margin-bottom: 13px;
    background-size: cover;
}
.box1-content{
    margin: 20px;
}
.box1-f{
    color: #007185;
}

/***  Footer  ****/

.footer-panel1{
    background-color: #37455a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1rem;
}
.footer-panel2{
    background-color: #222f3d;
    color: white;
    height: 280px;
    display: flex;
    justify-content: space-around;
}
.footer-panel2 a{
    color: #dddddd;
    display: block;
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 3px;
    margin-right: 5px;
}
.footer-panel2 p{
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 700;
}

.footer-panel3{
    height: 100px;
    border-top: 0.1px solid rgb(118, 109, 109);
    background-color: #222f3d ;
    display: flex;
    align-items: center;
    justify-content:center;
}
.footer-img{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}
.f-s-img{
    
    background-color: cover;
    width: 10px;
    height: 10px;
}
.f-flag{
     background-image: url(download.png);
    background-size: cover;
    height: 30px;
    width: 30px;
}
.f-f1{
    display: flex;
    border: #cccccc;
    
}
.f-f1 p{
    color: white;
    font-size: 1rem;

}
.f-panel4{
    background-color: #131A22;
    height: 80px;
    color: white;
}
.f-p4-a{
    display:flex;
    align-items: center;
    justify-content: center;  
    padding-top: 20px;
}
.f-p4-a a{
    margin-left: 30px;
    font-size: 0.80rem;
    font-weight: 200;
}
.f-p4-p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
     font-size: 0.84rem;


}
